
//Global Colors
$color-primary: #7477BF;
$color-secondary: #4D4c72;
$color-tertiary: #7377bf;

//Content Colors
$color-fill: #f5f5f5;
$color-page-title:#dedede;
$color-section-title: #939393;

//Content Size
$size-icon-image: 40px;

//Fonts
$font-primary: 'Roboto', sans-serif;

//Media Query Sizes
$small: 320px;
$medium: 768px;
$desktop: 1024px;
