* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
input,
a,
button,
label,
textarea,
span,
#timezone {
    font-family: $font-primary;
}

h2,
h3 {
    color: $color-section-title;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

h3 {
    font-size: 18px;
}

small{
    font-weight: 100;
}

#timezone {
    font-size: 16px;
}

#app-name{
    font-size: 36px;
}

@media (min-width: $desktop) {
    h1 {
        font-size: 36px;
    }
    #app-name {
        font-size: 28px;
    }
}