* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
input,
a,
button,
label,
textarea,
span,
#timezone {
    font-family: $font-primary;
}

h2,
h3 {
    color: $color-section-title;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

h3 {
    font-size: 18px;
}

small {
    font-weight: 100;
}

input,
textarea {
    &:hover {
        cursor: auto;
    }

    &:focus {
        background-color: #ffffff;
        box-shadow: 1px 1px 5px $color-primary, -1px -1px 5px $color-primary;
        outline: none;
    }
}

.page-title {
    color: #363636;
    font-size: 30px;
}


#app {

    &-name,
    &-big {
        font-size: 36px;
    }
}

#timezone {
    font-size: 16px;
}

@media (min-width: $desktop) {
    h1 {
        font-size: 36px;
    }

    #app-name {
        font-size: 28px;
    }
}