.chart-area-title {
    display: flex;
    justify-content: space-between;

    ul {
        li {
            margin-left: 8px;
            font-size: 12px;
            display: inline-block;
        }
    }
}

@media (min-width: $medium){
    .chart-area-title {    
        ul {
            li {
                margin-left: 15px;
                font-size: 14px;
            }
        }
    }
}