.chart-area-title {
    display: flex;
    justify-content: space-between;

    ul {
        li {
            margin-left: 8px;
            font-size: 12px;
            display: inline-block;
        }
    }
}

.traffic-buttons {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.active {
    background-color: $color-selector;
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
    text-decoration: underline;
}


@media (min-width: $medium) {
    .chart-area-title {
        ul {
            li {
                margin-left: 15px;
                font-size: 14px;
            }
        }
    }
}