.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
}

main {
    width: 90%;
    margin: auto;
}

@media (min-width: $medium) {
    .header {
        grid-area: header;
    }

    .nav-bar {
        grid-area: navigation;
    }

    .widgets {
        grid-area: widgets;
    }

    .chart-area {
        grid-area: chartArea;
    }

    .chart-bar {
        grid-area: chartBar;
    }

    .chart-doughnut {
        grid-area: chartDoughnut;

    }

    .social-stats {
        grid-area: social;
    }

    .new-members {
        grid-area: newMembers;
    }

    .recent-activity {
        grid-area: recentActivity;
    }

    .message-user {
        grid-area: messageUser;
    }

    .settings {
        grid-area: settings;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "widgets widgets"
            "chartArea chartArea"
            "chartBar chartDoughnut"
            "social social"
            "newMembers recentActivity"
            "messageUser settings";
    }

    .grid-container {

        grid-template-columns: 90px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }
}