.header {
    background-color: $color-primary;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}

.user {
    display: flex;
    justify-content: flex-end;
    margin: .6rem .6rem;

    & img,
    h3 {
        margin: auto 10px;
        color: #ffffff;
    }

    &-image {
        border: 2.2px solid #ffffff;
    }
}

.notification {
    text-decoration: none;
    display: flex;
    position: relative;
    border-right: 1px solid $color-secondary;
    margin-right: 2rem;
    padding-right: 2rem;

    &-card {
        background-color: #555555;
        color: #ffffff;
        padding: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:hover {
            background-color: #858585;
        }
    }

    & .badge {
        position: absolute;
        top: 10px;
        right: 2px;
        font-size: 85%;
        padding: 4px 8px;
        margin-right: 2.1rem;
        border-radius: 50%;
        text-align: center;
        background-color: $color-selector;
        color: #ffffff;

        &:hover {
            background-color: red;
        }
    }
}

#notification {
    &-pop-up {
        position: absolute;
        top: 50%;
        right: 150%;
        display: none;
    }

    &-list {
        width: 175%;
        padding: 0;
        list-style-type: none;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }
}

@media (min-width: $medium) {
    .notification {
        &-card {
            padding: .8rem;
        }
    }
}