.header {
    background-color: $color-primary;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}
.user{
    display: flex;
    justify-content: flex-end;
    margin: .6rem .6rem;

    & img, h3{
        margin: auto 8px;
        color: #ffffff;
    }

    &-image{
        border: 2.2px solid #ffffff;
    }
}