.header {
    background-color: $color-primary;
    color: #ffffff;
}
.user{
    display: flex;
    justify-content: flex-end;
    margin: .6rem .6rem;

    & img, h3{
        margin: auto 8px;
        color: #ffffff;
    }

    &-image{
        border: 2.2px solid #ffffff;
    }
}

@media (min-width: $desktop){
    .header {
        display: flex;
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
    
        &.user {
            display: flex;
            justify-content: flex-end;
        }
    }
}