.new-members,
.recent-activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-members .member {
    &-date {
        margin-left: auto;
    }
}

.member {

    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 0;


    a {
        text-decoration: none;
        color: $color-primary;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    img {
        margin-right: .7rem;
    }



    &-text {
        display: flex;
        flex-direction: column;

    }
}

.search-user,
#write-message {
    margin-bottom: 10px;
}

hr {
    width: 100%;
    border: 1px solid lightgray;
}