.search-user {
    display: block;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

#write-message {
    height: 8rem;
    border: 1px solid $color-section-title;
    background-color: $color-fill;
}

.search-user,
#write-message {
    transition: all .1s linear;

    &:hover {
        background-color: #ffffff;
    }
}