//Smooth scrolling with nav-bar
html{
    scroll-behavior: smooth;
}

.nav {
    &-bar {
        background-color: $color-secondary;
        position: fixed;
        width: 100%;
        margin-top: 64px;
        box-shadow: 0 3px 10px #292929;
        z-index: 100;
    }

    &-items {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    &-icon {
        margin: .6rem .6rem;
        width: 2rem;
        opacity: .3;
        transition: all .1s linear;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    &-chosen {
        opacity: 1;
    }

    &-slider {
        position: absolute;
        border-radius: 10px;
        background-color: $color-selector;
    }
}

@media (min-width: $medium) {

    .nav {
        &-bar {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-row-start: 2;
            grid-row-end: -1;
            grid-column-start: 1;
            grid-column-end: 2;
            height: 100%;
            width: auto;
            box-shadow: none;
            margin-top: 65px;
        }

        &-items {
            padding-top: 10px;
            flex-direction: column;
        }

        &-slider {
            height: 40px;
            width: 4px;
            left: 0;
            top: 22px;
        }
    }
}