#timezone {
    border: 1px solid $color-section-title;
    background-color: $color-fill;
    color: #757575;
    padding: .75rem;
    margin-top: 2.5rem;
    margin-bottom: .75rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    &:hover {
        background-color: #ffffff;
    }
}

.timezone-wrapper {
    position: relative;

    &::after {
        font-family: FontAwesome;
        content: '\f107';
        font-size: 28px;
        position: absolute;
        top: 45px;
        right: 20px;
        color: #757575;
        pointer-events: none;
    }
}

.switch-toggle {
    flex: display;
    justify-content: space-between;
}

#timezone,
.settings span {
    transition: all .1s linear;

    &:hover {
        cursor: pointer;
    }
}

.settings span {

    &:hover {
        box-shadow: 0 0 10px 1px rgba($color: #fff, $alpha: .4);
    }
}

@media (min-width: $medium) {

    .message-user,
    .settings-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .settings-button {
        display: flex;
        justify-content: space-between;
    }

    #settings-button {
        display: flex;
        justify-content: space-between;
    }
}