#timezone {
    border: 1px solid $color-section-title;
    background-color: $color-fill;
    padding: 9px;
    margin-bottom: 1rem;
    width: 100%;
    
}

// .switch-light{
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
// }

.switch-toggle{
    flex: display;
    justify-content: space-between;
}