.social {

    &-card {
        border: 1px solid $color-section-title;
        border-radius: 5px;
        background-color: $color-page-title;
        margin-bottom: 15px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-around;

    }

    &-icon {
        border-radius: 100%;
        border: 1px solid $color-secondary;
        background-color: $color-tertiary;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-text {
        width: 60%;
    }

    &-icon,
    &-text {
        margin-top: auto;
        margin-bottom: auto;
    }

    &-stats {
        font-size: 48px;
        font-weight: 300;
    }

}

@media (min-width: $desktop) {

    .social {
        &-stats-section {
            grid-row-start: 2;
            grid-row-end: -1;
        }

        &-card {
            display: flex;
            flex-direction: row;
        }

    }

}