.social {

    &-card {
        border: 1px solid $color-section-title;
        border-radius: 5px;
        background-color: $color-tertiary;
        margin-bottom: 15px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-around;

    }

    &-icon {
        border-radius: 100%;
        border: 1px solid $color-section-title;
        background-color: $color-secondary;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 1rem;
    }

    &-text {
        width: 75%;

        & h3 {
            margin: 0;
            font-size: 24px;
            color: $color-tertiary;
        }
    }

    &-text {
        margin-top: auto;
        margin-bottom: auto;
    }

    &-stats {
        font-size: 40px;
        font-weight: 300;
    }

}

@media (min-width: $medium) {
    .social {
        &-cards {
            display: flex;
            justify-content: space-between;
        }

        &-card {
            width: 30%;
        }

        &-icon {
            width: 6rem;
            height: 6rem;
        }
    
        &-text {
            width: 60%;
        }
        &-stats {
            font-size: 56px;
        }

    }
}