.dashboard {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 12px auto;
}

.search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    border-bottom-left-radius: 10px;

    &-bar {
        width: 35%;

        &:hover,
        &:focus {
            width: 45%;
        }
    }
}

.page-title {
    margin: auto;
    padding-right: 1.5rem;
}

input,
textarea {
    background-color: $color-fill;
    padding: 8px;
    border: 1px solid $color-section-title;
    color: $color-secondary;
    transition: all .1s ease-in-out;

    &:hover {
        background-color: #ffffff;
    }
}

input {
    width: 45%;
    margin-right: 1rem;
}

textarea {
    width: 100%;
}

#alert-bar {
    color: #ffffff;
    margin-right: 1.5rem;
    background-color: $color-secondary;
    font-size: 12px;
    height: 0;
    opacity: 1;
}

.alert-banner {
    display: flex;
    justify-content: space-between;

    & p {
        margin: 1rem;
    }

    &-close {
        &:hover {
            cursor: pointer;
        }
    }
}

input,
textarea,
.alert {
    border-radius: 5px;
}

@media (min-width: $medium) {
    #alert-bar {
        font-size: 16px;
    }
}