.widgets {
    & h1 {
        margin: 0;
        display: inline-block;
    }
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

input,
textarea {
    background-color: #f5f5f5;
    padding: 8px;
    border: 1px solid $color-section-title;
}

input {
    width: 45%;
}

textarea {
    width: 100%;
}

#alert-bar {
    width: 100%;
    color: #ffffff;
    padding: .5px;
    background-color: $color-secondary;
    font-size: 12px;
}

.alert-banner{
    display: flex;
    justify-content: space-between;
    p{
        margin: 1rem;
    }
}

input,
textarea,
.alert {
    border-radius: 5px;
}

@media (min-width: $medium) {
    #alert-bar {
        font-size: 16px;
    }
}